CompileFlags:
  Add:
    - '-std=c++17'
    - '-I/home/fsukri/Dev/vendor-x64-windows/T-x64-ntvc/qt6/include'
    - '-I/home/fsukri/Dev/vendor-x64-windows/T-x64-ntvc/gtest/include'
    - '-I/home/fsukri/Dev/vendor-x64-windows/T-x64-ntvc/cpr/include'
    - '-I/home/fsukri/Dev/vendor-x64-windows/T-x64-ntvc/qt6/include/QtConcurrent'
    - '-I/home/fsukri/Dev/vendor-x64-windows/T-x64-ntvc/qt6/include/QtCore'
    - '-I/home/fsukri/Dev/vendor-x64-windows/T-x64-ntvc/qt6/include/QtGui'
    - '-I/home/fsukri/Dev/vendor-x64-windows/T-x64-ntvc/qt6/include/QtNetwork'
    - '-I/home/fsukri/Dev/vendor-x64-windows/T-x64-ntvc/qt6/include/QtNetworkAuth'
    - '-I/home/fsukri/Dev/vendor-x64-windows/T-x64-ntvc/qt6/include/QtSql'
    - '-I/home/fsukri/Dev/vendor-x64-windows/T-x64-ntvc/qt6/include/QtWebChannel'
    - '-I/home/fsukri/Dev/vendor-x64-windows/T-x64-ntvc/qt6/include/QtWebSockets'
    - '-I/home/fsukri/Dev/vendor-x64-windows/T-x64-ntvc/qt6/include/QtWidgets'
    - '-I/home/fsukri/Dev/vendor-x64-windows/T-x64-ntvc/rapidjson-1.1.0/include'
    - '-I/home/fsukri/Downloads/vcpkg/installed/x64-windows/include'
    - '-I/home/fsukri/projects/uWebSockets/incl'
    - '-I/home/fsukri/projects/uWebSockets/src'
